<html>
	<head>
		<title>
			Jetter
		</title>
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<div class="nav-collapse">
					<ul class="nav">
						<li><%= link_to image_tag("logo.png", :border => 0), {}, {}%></li>
					</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<h1>Let your world fly on jet!</h1>
			<h3>Please login to take off</h3>
			<%= link_to "Sign in/Sign up", "/users/new" %>
		</div>
	</body>
</html>